<header class="transparent">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="de-flex sm-pt10">
                    <div class="de-flex-col">
                        <div class="de-flex-col">
                            <!-- logo begin -->
                            <div id="logo">
                                <a href="index.html">
                                    <img alt="" src="images/logo.webp" />
                                </a>
                            </div>
                            <!-- logo close -->
                        </div>
                        <div class="de-flex-col">
                            <input id="quick_search" class="xs-hide" name="quick_search" placeholder="search item here..." type="text" />
                        </div>
                    </div>
                    <div class="de-flex-col header-col-mid">
                        <!-- mainmenu begin -->
                        <ul id="mainmenu">
                            <li>
                                <a href="index.html">Home<span></span></a>
                                
                            </li>
                            <li>
                                <a href="#">Pages Done<span></span></a>
                                <ul>
                                    <li><a href="view-tickets.html">View Tickets</a></li>
                                    <li><a href="ticket-details.html">Ticket Details</a></li>
                                    <li><a href="list-ticket.html">List Ticket</a></li>
                                    <li><a href="place-bid.html">Place Bid</a></li>
                                    <li><a href="profile-page.html">Profile</a></li>
                                    <li><a href="item-price.html">Item Price</a></li>
                                    <li><a href="statistics.html">Statistics</a></li>
                                    <li><a href="ticket-section.html">Ticket Section</a> </li>
                                    <li><a href="connect-wallet.html">Wallett</a>
                                    <li><a href="signup.html">Sign Up</a>
                                    <li><a href="login.html">Login</a>
                                   
                                </ul>
                            </li>
                        </ul>
                        <div class="menu_side_area">
                            <a href="02_dark-wallet.html" class="btn-main btn-wallet" style="background-color: #18D8B3;"><i class="icon_wallet_alt"></i><span>Profile</span></a>
                            <span id="menu-btn"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>